@model WarehouseViewModel

<div>
    <h1>SET UP A WAREHOUSE</h1>
    <form asp-action="Edit" asp-controller="Warehouse" method="post">
        <input asp-for="CompanyId"  type="hidden"/>
        <h3>Address</h3>
        <div>
            <label>Street</label>
            <input asp-for="Street" />
            <label>Number</label>
            <input asp-for="Number" />
            <label>Postcode</label>
            <input asp-for="Postcode" />
            <label>City</label>
            <input asp-for="City" />
            <label>Country</label>
            <input asp-for="Country" />
        </div>
        <hr />
        <h3>Warehouse Code</h3>
        <h4>Used for logging in and identification</h4>
        <div>
            <input asp-for="Code"/>
        </div>
        <hr />
        <h3>Set up your storage</h3>
        <h4>@Model.Message</h4>
        <div>
            <label>Number of aisles</label>
            <input asp-for="Aisles" type="number" />
            <label>Aisle labeling</label>
            <select asp-for="AisleOrder">
                <option value="@Order.ALPHABETIC">Alphabetic</option>
                <option value="@Order.NUMERIC">Numeric</option>
            </select>
        </div>
        <h3></h3>
        <div>
            <label>Number of bins per aisle</label>
            <input asp-for="Bins" type="number" />
            <label>Bin labeling</label>
            <select asp-for="BinOrder">
                <option value="@Order.ALPHABETIC">Alphabetic</option>
                <option value="@Order.NUMERIC">Numeric</option>
            </select>
        </div>
        <hr />
        <input type="submit" value="COMPLETE"/>
    </form>
    <h3></h3>
    <button>BACK</button>
</div>